# Dolilo 0.6 configuration file
# Configuration keywords are uppercase, values are in double quotes.

# Uncomment this to specify options you wish to have on your append= line.
#APPEND="video=vesafb:ywrap,pmipal,mtrr"

# If you uncomment this, dolilo will write a brand new lilo.conf each run, backupping the old file as
# /etc/lilo.conf.backup (enabling this is required for full autoconfiguration, without rewrite, it will no
# longer touch /etc/lilo.conf once it exists).
#REWRITE

# If you uncomment this, dolilo will manage your bzImage's for you, backupping the old files and moving
# the new bzImage in from the kernel's KOUTPUT directory (/usr/src/linux/$ARCH/boot by default).
# This allows you to compile and install a 2.6 kernel like this:
# make && make modules_install && dolilo
#MOVEIMAGES

# If you uncomment this, lilo will try to make a more compact bootsector by merging read requests for adjacent
# sectors into a single request. This could speed up your boot by a few seconds, but might conflict with LBA32 on 
# some systems.
#COMPACT

# Uncomment this to set a framebuffer mode.
#VGA="792"

# This allows you to override bootdev & rootdev in case dolilo can't determine them
#BOOTDEV=/dev/sda
#ROOTDEV=/dev/ram0

# Uncommenting this enables the serial console on port 0 at 9600 bps.
#SERIAL="0,9600n8"
